.arrayCell {
  width: 2.5vw;
  border: 1px solid black;
  height: 6.5vh;
  min-width: 30px;
}

.arrowDiv {
  /*   position: absolute;
 */
  display: block;
}

.hide {
  display: none;
}

.arrayCellDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cellBounceUp {
  animation-name: bounceCellUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cellBounceDown {
  animation-name: bounceCellDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.placeholder {
  margin-bottom: var(--yEnd);
  margin-left: var(--xPlaceholder);
}

@keyframes bounceCellDown {
  from {
    margin-top: var(--yStart);
    margin-left: var(--xStart);
  }

  33% {
    margin-top: var(--yHalf);
    margin-left: var(--xStart);
  }

  66% {
    margin-top: var(--yHalf);
    margin-left: var(--xEnd);
  }
  to {
    margin-top: var(--yEnd);
    margin-left: var(--xEnd);
  }
}

@keyframes bounceCellUp {
  from {
    margin-bottom: var(--yStart);
    margin-left: var(--xStart);
  }

  33% {
    margin-bottom: var(--yHalf);
    margin-left: var(--xStart);
  }

  66% {
    margin-bottom: var(--yHalf);
    margin-left: var(--xEnd);
  }
  to {
    margin-bottom: var(--yEnd);
    margin-left: var(--xEnd);
  }
}
